@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  padding: 0 3rem;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  justify-content: space-between;
  background-color: rgb(10, 25, 48);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 3rem;
}
.navigation .nav-left li {
  list-style: none;
}
.navigation .nav-left li a {
  font-family: "Cal Sans";
  text-decoration: none;
  color: rgb(83, 229, 214);
  font-size: 24px;
}
.navigation .nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  justify-content: flex-end;
}
.navigation .nav-right li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.navigation .nav-right li a {
  text-decoration: none;
  color: rgb(136, 146, 175);
  font-family: "Cal Sans";
}
.navigation .nav-right li a .nav-numbers {
  display: inline-block;
  color: rgb(83, 229, 214);
  margin: 0.2rem;
  font-family: "JetBrains Mono", Consolas, "Courier New", monospace;
  font-size: 12px;
  transition: transform 0.2s ease;
}

.nav-right a:hover .nav-numbers {
  transform: translateX(-5px);
}

#resume-button {
  color: rgb(83, 229, 214);
  border: 1px solid rgb(83, 229, 214);
  border-radius: 5px;
  background-color: rgb(10, 25, 48);
  font-family: "Cal Sans";
  cursor: pointer !important;
  padding: 0.5rem 1rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#resume-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: -1;
  transition: 0.4s ease;
}
#resume-button:hover::before {
  left: 0;
}
#resume-button:hover {
  color: rgb(10, 25, 48);
}

body {
  background-color: rgb(10, 25, 48);
}

.hero-container {
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}
.hero-container #intro {
  color: rgb(83, 229, 214);
  font-family: "JetBrains Mono", Consolas, "Courier New", monospace;
}
.hero-container #name {
  color: rgb(204, 214, 246);
  font-size: 5rem;
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.hero-container #sub-title {
  color: rgb(136, 146, 175);
  font-size: 3rem;
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.hero-container #hero-information {
  color: rgb(136, 146, 175);
  font-family: "Electrolize", sans-serif;
  font-size: 18px;
  width: 100%;
  max-width: 50%;
}
.hero-container #project-button {
  width: 15rem;
  height: 2rem;
  color: rgb(83, 229, 214);
  border: 1px solid rgb(83, 229, 214);
  border-radius: 5px;
  background-color: rgb(10, 25, 48);
  font-family: "Cal Sans";
  cursor: pointer !important;
  margin-top: 2rem;
}

.about-me {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.about-me .about-me-title {
  font-family: "Cal Sans";
  font-weight: 400;
  font-style: normal;
  color: rgb(204, 214, 246);
  font-size: 2rem;
  margin-bottom: 1rem;
}
.about-me .about-me-title span {
  color: rgb(83, 229, 214);
  margin: 0.2rem;
  font-family: "JetBrains Mono", Consolas, "Courier New", monospace;
  font-size: 16px;
  transition: transform 0.2s ease;
}
.about-me .about-me-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.about-me .about-me-container .about-me-text {
  flex: 2;
  color: rgb(136, 146, 175);
  font-family: "Electrolize", sans-serif;
  font-size: 18px;
  line-height: 1.4;
}
.about-me .about-me-container .about-me-text p {
  margin-bottom: 1.5rem;
}
.about-me .about-me-container .about-me-text .container-tech-list {
  display: flex;
  gap: 30%;
  margin-top: 3rem;
}
.about-me .about-me-container .about-me-text .container-tech-list ul {
  list-style: none;
}
.about-me .about-me-container .about-me-text .container-tech-list li::before {
  content: "▶";
  color: rgb(83, 229, 214);
  font-size: 10px;
  margin-right: 0.5rem;
  align-items: center;
}
.about-me .placeholder-img img {
  height: 20rem;
  width: auto;
}

.container-project-title {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10rem;
}
.container-project-title .project-title {
  font-family: "Cal Sans";
  font-weight: 400;
  font-style: normal;
  color: rgb(204, 214, 246);
  font-size: 2rem;
  margin-bottom: 1rem;
}
.container-project-title .project-title span {
  color: rgb(83, 229, 214);
  margin: 0.2rem;
  font-family: "JetBrains Mono", Consolas, "Courier New", monospace;
  font-size: 16px;
  transition: transform 0.2s ease;
}
.container-project-title hr {
  width: 15rem;
  height: 0.5px;
  border: none;
  background-color: rgb(136, 146, 175);
  margin: 20px 10px;
}

.project-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-top: 6rem;
}
.project-container .project-image {
  background-color: rgb(46, 64, 94);
  padding: 0.5rem;
  height: 100%;
  border-radius: 5px;
  max-height: 30rem;
  flex: 2;
  display: flex;
}
.project-container .project-image video {
  border-radius: 5px;
}
.project-container .project-image img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.project-container .project-information {
  flex: 1.4;
  display: flex;
  justify-content: center;
  color: white;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
}
.project-container .project-information h4 {
  color: rgb(83, 229, 214);
  font-size: 1rem;
  font-family: "Cal Sans";
}
.project-container .project-information h3 {
  font-family: "Cal Sans";
  font-weight: 400;
  font-style: normal;
  color: rgb(204, 214, 246);
  font-size: 2rem;
}
.project-container .project-information .project-info {
  border-radius: 5px;
  width: 100%;
  max-width: 100%;
  padding: 2rem;
  background-color: rgb(14, 34, 66);
  color: rgb(136, 146, 175);
  font-family: "Electrolize", sans-serif;
  font-size: 18px;
}
.project-container .project-information .project-tech {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-family: "Cal Sans";
  color: rgb(136, 146, 175);
  font-size: 12px;
}
.project-container .project-information img {
  width: 2rem;
  height: auto;
  margin-top: 1rem;
}
.project-container .project-information .link-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.project-container.reverse {
  flex-direction: row-reverse;
  margin-top: 6rem;
}

.contact-section {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-section .contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
.contact-section .contact-container h4 {
  font-family: "JetBrains Mono", Consolas, "Courier New", monospace;
  color: rgb(83, 229, 214);
}
.contact-section .contact-container h2 {
  font-family: "Cal Sans";
  font-weight: 400;
  font-style: normal;
  color: rgb(204, 214, 246);
  font-size: 2rem;
  font-size: 3rem;
}
.contact-section .contact-container p {
  color: rgb(136, 146, 175);
  font-family: "Electrolize", sans-serif;
  font-size: 18px;
  width: 45%;
}
.contact-section .contact-container a {
  color: rgb(83, 229, 214);
  border: 1px solid rgb(83, 229, 214);
  border-radius: 5px;
  background-color: rgb(10, 25, 48);
  font-family: "Cal Sans";
  cursor: pointer !important;
  padding: 0.5rem 2rem;
  text-decoration: none;
  z-index: 1;
  position: relative;
  overflow: hidden;
}
.contact-section .contact-container a::before {
  content: "";
  background-color: white;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  transition: 0.4s ease;
}
.contact-section .contact-container a:hover::before {
  left: 0;
}
.contact-section .contact-container a:hover {
  color: rgb(10, 25, 48);
}

/*# sourceMappingURL=styles.css.map */
