$primary-color: rgb(204, 214, 246);
$secondary-color: rgb(136, 146, 175);
$extra-color: rgb(83, 229, 214);
$background-color: rgb(10, 25, 48);
$box-color: rgb(17, 34, 64);
$main-font: "Cal Sans", sans-serif, helvetica;
$secondary-font: "Inter", sans-serif;
$jetbrain-font: "JetBrains Mono", Consolas, "Courier New", monospace;

@mixin fontStyle {
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin button-style {
  color: $extra-color;
  border: 1px solid $extra-color;
  border-radius: 5px;
  background-color: $background-color;
  font-family: $main-font;
  cursor: pointer;
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin title-font {
  font-family: $main-font;
  font-weight: 400;
  font-style: normal;
  color: $primary-color;
  font-size: 2rem;
}

@mixin number-font {
  color: $extra-color;
  margin: 0.2rem;
  font-family: $jetbrain-font;
  font-size: 16px;
  transition: transform 0.2s ease;
}

@mixin p-font {
  color: $secondary-color;
  font-family: $secondary-font;
  font-size: 16px;
}

@mixin project-information-font {
  color: $extra-color;
  font-size: 1rem;
  font-family: $main-font;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

main {
  padding: 0 3rem;
}

@mixin hr-style {
  width: 15rem;
  height: 0.5px;
  border: none;
  background-color: $secondary-color;
  margin: 20px 10px;
}

.navigation {
  @include flex;
  height: 10%;
  justify-content: space-between;
  background-color: $background-color;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 3rem;
  z-index: 1000;

  .nav-left {
    li {
      list-style: none;
      a {
        font-family: $main-font;
        text-decoration: none;
        color: $extra-color;
        font-size: 24px;
      }
    }
  }

  .nav-right {
    @include flex;
    gap: 2rem;
    justify-content: flex-end;
    li {
      @include flex;
      list-style: none;

      a {
        text-decoration: none;
        color: $secondary-color;
        font-family: $main-font;

        .nav-numbers {
          display: inline-block;
          color: $extra-color;
          margin: 0.2rem;
          font-family: $jetbrain-font;
          font-size: 12px;
          transition: transform 0.2s ease;
        }
      }
    }
  }
}

.nav-right a:hover .nav-numbers {
  transform: translateX(-5px);
}

.nav-right li #resume-button {
  @include button-style;
  padding: 0.5rem 1rem;
  position: relative;
  z-index: 1;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #ffff;
    z-index: -1;
    transition: 0.4s ease;
  }

  &:hover::before {
    left: 0;
  }

  &:hover {
    color: $background-color;
  }
}

body {
  background-color: $background-color;
}

.hero-container {
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;

  #intro {
    color: $extra-color;
    font-family: $jetbrain-font;
  }

  #name {
    color: $primary-color;
    font-size: 5rem;
    @include fontStyle;
  }

  #sub-title {
    color: $secondary-color;
    font-size: 3rem;
    @include fontStyle;
  }

  #hero-information {
    @include p-font;
    font-family: $secondary-font;
    width: 100%;
    max-width: 50%;
  }

  #project-button {
    text-decoration: none;
    padding: 0.75rem 2rem;
    @include button-style;
    margin-top: 2rem;
    transition: 0.2s ease;
  }

  #project-button:hover {
    transform: translateY(-5px);
  }
}

.about-me {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  .about-me-title {
    @include title-font;
    margin-bottom: 1rem;

    span {
      @include number-font;
    }
  }

  .about-me-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    gap: 1.5rem;
    flex-wrap: wrap;

    .about-me-text {
      flex: 2;
      @include p-font;
      line-height: 1.4;

      p {
        margin-bottom: 1.5rem;
        margin-right: 8rem;
      }

      .container-tech-list {
        display: flex;
        gap: 30%;
        margin-top: 3rem;

        ul {
          list-style: none;
        }
      }

      .container-tech-list li::before {
        content: "▶";
        color: $extra-color;
        font-size: 10px;
        margin-right: 0.5rem;
        align-items: center;
      }
    }
  }

  .placeholder-img img {
    height: 20rem;
    border-radius: 10px;
    width: auto;
  }
}

.container-project-title {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10rem;

  .project-title {
    @include title-font;
    margin-bottom: 1rem;
    span {
      @include number-font;
    }
  }
  hr {
    @include hr-style;
  }
}

.project-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-top: 6rem;

  .project-image {
    background-color: rgb(46, 64, 94);
    padding: 0.5rem;
    height: 100%;
    border-radius: 5px;
    max-height: 30rem;
    flex: 2;
    display: flex;

    video {
      border-radius: 5px;
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 5px;
    }
  }

  .project-information {
    flex: 1.4;
    display: flex;
    justify-content: center;
    color: white;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;

    h4 {
      @include project-information-font;
    }

    h3 {
      @include title-font;
    }

    .project-info {
      border-radius: 5px;
      width: 100%;
      max-width: 100%;
      padding: 2rem;
      background-color: rgb(14, 34, 66);
      @include p-font;
    }

    .project-tech {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      font-family: $main-font;
      color: $secondary-color;
      font-size: 12px;
    }

    img {
      width: 2rem;
      height: auto;
      margin-top: 1rem;
    }

    .link-images {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }

    a:hover {
      transform: translateY(-5px);
      transition: 0.4s ease;
    }
  }
}

.project-container.reverse {
  flex-direction: row-reverse;
  margin-top: 6rem;
}

.contact-section {
  height: 85vh;
  text-align: center;
  @include flex;

  .contact-container {
    @include flex;
    flex-direction: column;
    gap: 1.5rem;

    h4 {
      font-family: $jetbrain-font;
      color: $extra-color;
    }

    h2 {
      @include title-font;
      font-size: 3rem;
    }

    p {
      @include p-font();
      width: 45%;
    }

    button {
      @include button-style;
      padding: 0.5rem 2rem;
      text-decoration: none;
      z-index: 1;
      position: relative;
      overflow: hidden;

      &::before {
        content: "";
        background-color: white;
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        transition: 0.4s ease;
      }

      &:hover::before {
        left: 0;
      }
      &:hover {
        color: $background-color;
      }
    }
  }
}

.footer {
  @include flex;
  flex-direction: column;
  .footer-logo {
    @include flex;
    gap: 1rem;

    i {
      font-size: 30px;
      color: #333;
      transition: color 0.3s ease;
      margin-bottom: 2.5rem;
      color: $secondary-color;

      &:hover {
        color: $extra-color;
      }
    }
  }

  p {
    color: $secondary-color;
    font-family: $main-font;
    font-size: 12px;
    margin-bottom: 1rem;
  }
}

.scrolled {
  box-shadow: -1px -1px 10px black;
  transition: 0.5s ease;
}

.hidden {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

// Media Queries
@media screen and (max-width: 1200px) {
  main {
    padding: 0 2rem;
  }

  .hero-container {
    #hero-information {
      max-width: 70%;
    }
  }

  .about-me {
    .about-me-container {
      .about-me-text {
        flex: 1;

        p {
          margin-right: 0rem;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .navigation {
    padding: 0 1.5rem;
  }

  .hero-container {
    #name {
      font-size: 4rem;
    }

    #sub-title {
      font-size: 2.5rem;
    }

    #hero-information {
      max-width: 80%;
    }
  }

  .project-container {
    flex-direction: column;
    gap: 2rem;

    &.reverse {
      flex-direction: column;
    }

    .project-image {
      max-height: 25rem;
    }

    .project-information {
      align-items: center;
      text-align: center;

      h4,
      h3 {
        text-align: center;
      }
    }
  }

  .container-project-title {
    justify-content: center;
    text-align: center;

    hr {
      width: 100%;
      margin: 20px 0;
    }
  }

  .contact-section {
    margin-top: 8rem;
  }

  .about-me {
    .about-me-container {
      .about-me-text {
        p {
          margin-right: 0rem;
        }
        .container-tech-list {
          margin-bottom: 4rem;
        }
      }
      .placeholder-img {
        display: flex;
        justify-content: center;
        width: 100%;

        img {
          height: 20rem;
          width: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  main {
    padding: 0 1rem;
  }

  .navigation {
    padding: 0 1rem;

    .nav-right {
      gap: 1rem;
    }
  }

  .hero-container {
    #name {
      font-size: 3rem;
    }

    #sub-title {
      font-size: 2rem;
    }

    #hero-information {
      max-width: 100%;
    }
  }

  .about-me {
    height: auto;
    padding: 2rem 0;

    .about-me-container {
      flex-direction: column;

      .about-me-text {
        p {
          margin-right: 0rem;
        }
        .container-tech-list {
          margin-bottom: 4rem;
        }
      }

      .placeholder-img {
        display: flex;
        justify-content: center;
        width: 100%;

        img {
          height: 15rem;
          width: auto;
        }
      }
    }
  }

  .contact-section {
    margin-top: 8rem;

    .contact-container {
      p {
        width: 80%;
      }
    }
  }

  .container-project-title {
    justify-content: center;
    text-align: center;

    hr {
      width: 100%;
      margin: 20px 0;
    }
  }

  .project-container {
    .project-information {
      align-items: center;
      text-align: center;

      h4,
      h3 {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .navigation {
    gap: 1rem;
    .nav-left {
      li a {
        font-size: 20px;
      }
    }

    .nav-right {
      gap: 0.5rem;

      li a {
        font-size: 14px;
      }
    }
  }

  .hero-container {
    #name {
      font-size: 2.5rem;
    }

    #sub-title {
      font-size: 1.5rem;
    }
  }

  .about-me {
    .about-me-title {
      font-size: 1.5rem;
    }
  }

  .container-project-title {
    justify-content: center;
    text-align: center;

    hr {
      width: 100%;
      margin: 20px 0;
    }
  }

  .project-container {
    .project-information {
      align-items: center;
      text-align: center;

      h4,
      h3 {
        text-align: center;
      }
    }
  }

  .contact-section {
    margin-top: 3rem;

    .contact-container {
      h2 {
        font-size: 2rem;
      }

      p {
        width: 100%;
      }
    }
  }

  .about-me {
    .about-me-container {
      p {
        margin-right: 0rem;
      }
      .about-me-text {
        .container-tech-list {
          margin-bottom: 4rem;
        }
      }
      .placeholder-img {
        display: flex;
        justify-content: center;
        width: 100%;

        img {
          height: 14rem;
          width: auto;
        }
      }
    }
  }
}
